body {
	margin: 0px;
}

#header {
	background-color: #bfd2f2;
	padding: 50px;
	font-family: "Arial";
  	font-size: 40px;
}

img {
	margin: 20px;
}

button {
	border-radius: 5px;
  	padding: 15px 32px;
  	margin: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	background-color: #F08080;
  	color: white;
  	font-family: "Arial";
  	font-size: 18px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
