body {
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

p {
	padding: 50px;
}

#header {
	background-color: #a8d0e6; /* keep in mind f8e9a1 */
	padding: 50px;
	font-family: 'Poppins', sans-serif;
  	font-size: 40px;
}

img {
	margin: 20px;
}

button {
	border-radius: 5px;
  	padding: 15px 32px;
  	margin: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	background-color: #f76c6c;
  	color: white;
	font-family: 'Poppins', sans-serif;
  	font-size: 18px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
